{% extends 'base.html' %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-2">Puppies </h1>
            <hr class="mt-0 mb-4">
            {% block page_content %}
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <h1 class="mt-2">Let the man see his friend </h1>
                            <hr class="mt-0 mb-4">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p}}
                                <button type="submit" class="btn btn-danger"> Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
